.comments {
    margin-top: 30px;

    p {
        line-height: 25px;
    }
}

.comment-heading {
    margin-top: 50px;
}

.comment-author {
    font-size: 13px;
}

.comment-author-name {
    font-weight: 700;
    color: #555;
    background-color: #fefefe;
    padding: 3px 15px;
    z-index: 1;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -10px;
    position: relative;
}

.comment-author-avatar {
    border: 5px solid #ddd;
    z-index: 2;
    position: relative;
    max-width: 75px;
}

.comment-time {
    color: #999;
    text-align: right;
}

.comment-content {
    font-size: 14px;
    color: #444;
}

.comment-single {
    padding: 20px;
    z-index: 1;

    &:nth-child(2n) {
        background-color: #e7e7e7;
    }
}

.comment-content {
    padding: 0;
    border: none;
    margin-right: 15px;

    p {
        font-size: 1em;
        font-weight: 400;
    }
}

//
.comment-tab-pane {
    background: #fff;
    border: 1px solid (@gray-lighter - #111);
    border-top: none;
    padding: 5px;

    .help-text {
        display: block;
        text-align: right;
        color: (@gray-light + #222);
    }
}