.landing-content {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
}

.landing-tagline {
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 700;
	color: #333;
	font-size: 3em;
	background-color: #efefef;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	opacity: 0.8;
}

.landing-email-form {
	display: block;
	margin-top: -5px;
}

.landing-input {
	width: 350px;
}

.landing-image {
	background: transparent url(../img/landing.jpg) center center no-repeat;
	margin-top: -20px;
	position: relative;
	text-align: center;
}

.landing-copyright {
	bottom: 3px;
	right: 5px;
	position: absolute;
	color: #222;
	background-color: #efefef;
	padding: 3px 5px;
	font-size: 0.8em;
	opacity: 0.7;
	border-radius: 3px;
}

footer {
	font-size: 1em;
}

.input-simple
{
  outline: none;
  border:none !important;
  box-shadow:none !important;
}