/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * 
 * CONTENTS..................You're reading it
 * ELEMENTS..................Styles applied to root HTML elements
 * LOGO......................Obviously the site's logo
 * NAV.......................Site's navigator
 * NAV SEARCH................
 * LANDING...................Landing component in homepage
 * LANDING TESTIMONIALS......
 * UTILITIES.................
 * RESPONSIVE XS.............Responsive rules for @screen-xs
 * RESPONSIVE SM.............Responsive rules for @screen-sm
 * RESPONSIVE MD.............Responsive rules for @screen-md
 * RESPONSIVE LG.............Responsive rules for @screen-lg
 * 
 */

/*------------------------------------*\
    $ELEMENTS
\*------------------------------------*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	background: #efefef;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', sans-serif;
}

footer {
	font-size: 0.85em;
	padding: 20px;
	margin-top: 40px;
	background-color: #333;
	color: #888;
}

a, a:hover {
	color: #333;
	text-decoration: underline;
}

/*------------------------------------*\
    $LOGO
\*------------------------------------*/
.logo {
	font-weight: 700;
	font-family: 'Roboto Slab', sans-serif;
	color: #666;
	text-decoration: none;
}

/*------------------------------------*\
    $NAV
\*------------------------------------*/
.nav-transparent {
	background-color: transparent;
	border: none;
}

.gists-navbar-nav > li > a {
	color: #555;
	text-transform: uppercase;
	font-size: 13px;
	text-decoration: none;
}

.gists-navbar-toggle {
	background-color: #efefef;
}

.gists-navbar-toggle .icon-bar {
	background-color: #999;
}

/*------------------------------------*\
    $NAV SEARCH
\*------------------------------------*/
.nav-search {
	margin-left: 10px;
}

/*------------------------------------*\
    $LANDING
\*------------------------------------*/
.landing-content {
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
}

.landing-tagline {
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 700;
	color: #333;
	padding-bottom: 30px;
	display: inline-block;
	opacity: 0.8;
}

.landing-email-form {
	display: block;
	margin-top: -5px;
}

.landing-input,
.landing-label {
	font-weight: 300;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 1.8em;
	color: #222;
	height: 1.8em;
	background-color: transparent;
}

.landing-gists-url {
	margin: 0;
}

.input-blogname {
	width: 230px;
	margin-top: -12px;
}

.input-email {
	background-color: #fff;
	opacity: 0.5;
	width: 500px;
}

.form-group-beta-apply {
	display: block !important;
	margin-top: 15px;
}

.landing-image {
	background: transparent url(../img/landing.jpg) center center no-repeat;
	margin-top: -20px;
	position: relative;
	text-align: center;
}

.landing-copyright {
	bottom: 3px;
	right: 5px;
	position: absolute;
	color: #222;
	background-color: #efefef;
	padding: 3px 5px;
	font-size: 0.8em;
	opacity: 0.7;
	border-radius: 3px;
}

.landing-heading {
	font-weight: 700;
	text-align: center;
	margin: 40px 0;
}

.landing-screenshots {

}

.landing-features-item {
	margin-bottom: 30px;
}

/*------------------------------------*\
    $LANDING TESTIMONIALS
\*------------------------------------*/
.landing-testimonials-item {
	text-align: center;
	margin-bottom: 20px;
}

.landing-testimonials-item .caption h3 {
	font-weight: 300;
}

.landing-testimonials-item .caption p {
	text-align: left;
}

.landing-testimonials-item blockquote {
	border-left: 5px solid #ddd;
	text-align: left;
}

/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/
.input-simple
{
  outline: none;
  border:none !important;
  box-shadow:none !important;
}

/*------------------------------------*\
    $RESPONSIVE XS
\*------------------------------------*/
@media (max-width: 480px) {
	.landing-input {
		display: inline-block;
		width: 96%;
	}

	.landing-tagline {
		padding: auto;
		background-color: transparent;
	}
}

/*------------------------------------*\
    $RESPONSIVE SM
\*------------------------------------*/
@media (min-width: 480px) and (max-width: 768px) {
	.landing-input {
		display: inline-block;
		width: 96%;
	}
}